@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

@keyframes sliding {
	from {
		transform: none;
	}

	to {
		transform: translateY(-15rem);
	}
}

.split-line {
	overflow: hidden;
	
	* {
		will-change: transform;
		overflow: hidden;
	}
}

.reveal-text {
	position: relative;
	overflow: hidden;

	&.text-bigger {
		line-height: .95;

		@media #{$mq-md-min} {
			line-height: .875;
		}
	}
}