.container {
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: calc(100% - .75rem);
	@media #{$mq-xs-min} { max-width: 95%; }
	@media #{$mq-md-min} { max-width: 90%; }
	@media #{$mq-2xl-min} { max-width: calc(100vw - 8rem) }
}