sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

li, ul, ol, figure { 
	padding: 0;
	margin: 0;
	list-style: none;
}

.cf::after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: '';
	clear: both;
	height: 0;
}

.swiper-pagination-bullet {
	background-color: currentColor;
}

canvas, img, video, picture, figure {
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	display: block;
 }

svg {
    max-width: 100%;
	height: auto;
    fill: currentColor;
}

button {
	appearance: none;
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
}

a, a:hover {
	text-decoration: none;
	color: currentColor;
}

textarea, input, select {
	appearance: none;
	outline: none;
}

textarea {
	resize: vertical;
}

h1, h2, h3, h4, h5, h6, p, a, li, ul, ol, span, strong, em {
	padding: 0;
	margin: 0;
	margin-block-start: 0;
    margin-block-end: 0;
	font-weight: inherit;
	font-size: inherit;
}

a {
	font-weight: inherit;
}

strong, b {
	font-weight: $bold;
}

br {
	line-height: inherit;
}

section,
main,
.container {
	position: relative;
}

main,
section {
	overflow: hidden;
	background-color: $white;
}

main {
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100%;

	@media #{$mq-1024-min} {
		position: fixed;
	}

	&.touch {
		position: relative;
		height: auto;

		.main-wrap {
			position: relative;
		}
	}

	.main-wrap {
		box-sizing: border-box;
		position: relative;
		width: 100vw;
		will-change: transform;

		@media #{$mq-1024-min} {
			position: fixed;
		}
	}
}

body {
	&::after {
		content: '';
		position: fixed;
		width: 100%;
		height: 20vh;
		bottom: 0;
		left: 0;
		background: $blue;
		z-index: -1;
	}
}

.cover {
	position: absolute;
    top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.flex {
	display: flex;
}

html,
body {
	-webkit-font-smoothing: antialiased;
    background-color: $white;
    font-family: $loos;
	color: $black;
	font-weight: $regular;
	font-style: normal;
	font-size: 15px;
	font-size: clamp(15px, 1.325vw, 20px);
	line-height: 1.6;
}

.z5 {
	z-index: 5;
}

.section-padding-top {
	padding-top: clamp(3rem, 9vw, 7rem);
}

.section-padding-top-big {
	padding-top: clamp(5rem, 10vw, 9rem);
}

.section-padding-bottom {
	padding-bottom: clamp(3rem, 9vw, 7rem);
}

.section-padding-bottom-big {
	padding-bottom: clamp(5rem, 10vw, 9rem);
}

.section-margin-top {
	margin-top: clamp(3rem, 9vw, 7rem);
}

.section-margin-top-big {
	margin-top: clamp(5rem, 9vw, 7rem);
}

.section-margin-bottom {
	margin-bottom: clamp(3rem, 9vw, 7rem);
}

.section-margin-bottom-big {
	margin-bottom: clamp(5rem, 9vw, 7rem);
}