// breakpoints
$mq-xs-min:             'only screen and (min-width: 421px)';
$mq-sm-min:             'only screen and (min-width: 576px)';
$mq-md-min:             'only screen and (min-width: 768px)';
$mq-lg-min:             'only screen and (min-width: 993px)';
$mq-xl-min:             'only screen and (min-width: 1201px)';
$mq-2xl-min:            'only screen and (min-width: 1601px)';

$mq-1024-min:           'screen and (min-width: 1023px)';

$mq-xxs-max:            'only screen and (max-width: 360px)';
$mq-xs-max:             'only screen and (max-width: 420px)';
$mq-sm-max:             'only screen and (max-width: 575px)';
$mq-md-max:             'only screen and (max-width: 767px)';
$mq-lg-max:             'only screen and (max-width: 992px)';
$mq-xl-max:             'only screen and (max-width: 1200px)';
$mq-2xl-max:            'only screen and (max-width: 1600px)';

$mq-landscape:          'screen and (orientation:landscape)';

// fonts
$loos:                  'Loos Condensed', sans-serif;

// weights
$regular: 				400;
$bold: 					700;

// colors
$pure-white:		    #fff;
$white:			        #f0f0f0;
$gray-lightest:			#e2e2e2;
$gray-lighter:			#d2d2e1;
$gray-light:			#999;
$gray-medium:			#666;
$gray-dark:				#323246;
$gray-darker:			#222;
$gray-darkest:			#111;
$black:					#0d0e13;
$pure-black:			#000;
$red:                   #ff3838;
$green:                 #4bb749;
$blue:                  #3232dc;

// color vars
html {
    --pure-white:		#fff;
    --white:			#f0f0f0;
    --gray-lightest:	#e2e2e2;
    --gray-lighter:	    #d2d2e1;
    --gray-light:		#999;
    --gray-medium:		#666;
    --gray-dark:		#323246;
    --gray-darker:		#222;
    --gray-darkest:		#111;
    --black:			#0d0e13;
    --pure-black:		#000;
    --red:              #ff3838;
    --green:            #4bb749;
    --blue:             #3232dc;
}

// color classes
.transparent { color: transparent; }
.pure-white { color: $pure-white; }
.white { color: $white; }
.gray-lightest { color: $gray-lightest; }
.gray-lighter { color: $gray-lighter; }
.gray-light { color: $gray-light; }
.gray-medium { color: $gray-medium; }
.gray-dark { color: $gray-dark; }
.gray-darker { color: $gray-darker; }
.gray-darkest { color: $gray-darkest; }
.black { color: $black; }
.pure-black { color: $pure-black; }
.red { color: $red; }
.green { color: $green; }
.blue { color: $blue; }
.blue-light { color: lighten(adjust-hue($blue, -60), 5); }

// bg-color classes
.bg-transparent { background-color: transparent; }
.bg-pure-white { background-color: $pure-white; }
.bg-white { background-color: $white; }
.bg-gray-lightest { background-color: $gray-lightest; }
.bg-gray-lighter { background-color: $gray-lighter; }
.bg-gray-light { background-color: $gray-light; }
.bg-gray-medium { background-color: $gray-medium; }
.bg-gray-dark { background-color: $gray-dark; }
.bg-gray-darker { background-color: $gray-darker; }
.bg-gray-darkest { background-color: $gray-darkest; }
.bg-black { background-color: $black; }
.bg-pure-black { background-color: $pure-black; }
.bg-red { background-color: $red; }
.bg-green { background-color: $green; }
.bg-blue { background-color: $blue; }
.bg-blue-light { background-color: lighten(adjust-hue($blue, -60), 5); }

// font-weights classes
.regular { font-weight: $regular; }
.bold { font-weight: $bold; }