// breakpoints
$mq-xs-min:             'only screen and (min-width: 421px)';
$mq-sm-min:             'only screen and (min-width: 576px)';
$mq-md-min:             'only screen and (min-width: 768px)';
$mq-lg-min:             'only screen and (min-width: 993px)';
$mq-xl-min:             'only screen and (min-width: 1201px)';
$mq-2xl-min:            'only screen and (min-width: 1601px)';

$mq-1024-min:           'screen and (min-width: 1023px)';

$mq-xxs-max:            'only screen and (max-width: 360px)';
$mq-xs-max:             'only screen and (max-width: 420px)';
$mq-sm-max:             'only screen and (max-width: 575px)';
$mq-md-max:             'only screen and (max-width: 767px)';
$mq-lg-max:             'only screen and (max-width: 992px)';
$mq-xl-max:             'only screen and (max-width: 1200px)';
$mq-2xl-max:            'only screen and (max-width: 1600px)';

$mq-landscape:          'screen and (orientation:landscape)';

// fonts
$inter:                 'Inter', sans-serif;

// weights
$regular: 				400;
$semi-bold:             600;
$bold: 					700;

// colors
$pure-white:		    #fff;
$white:			        #f8f8f8;
$gray-lightest:			#e2e2e2;
$gray-lighter:			#bbb;
$gray-light:			#999;
$gray-medium:			#666;
$gray-dark:				#333;
$gray-darker:			#222;
$gray-darkest:			#111;
$black:					#0d0e13;
$pure-black:			#000;

$red:                   #ff3838;
$green:                 #4bb749;

$bg:                    #faebcc;