#bottom-text {
    background-color: $white;
    padding-top: clamp(3rem, 9vw, 8rem);

    @media #{$mq-sm-min} {
        padding-bottom: 1rem;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        flex-direction: column;

        @media #{$mq-sm-min} {
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }
    }
}