#floating-menu {
    position: fixed;
    z-index: 98;
    top: 1rem;
    left: 0;
    width: 100%;
    text-align: right;
    pointer-events: none;

    .open-fs {
        pointer-events: all;
        display: inline-block;
        vertical-align: middle;
        background-color: $blue;
        color: $white;
        text-transform: uppercase;
        padding: .5rem 1.75rem;
        border-top-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        transition: .3s ease-in-out;

        @media #{$mq-sm-min} {
            padding: .5rem 2rem;
        }

        &:hover {
            background-color: darken(saturate($blue, 20), 10);
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
            border-top-right-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
        }
    }
}