#truck {
    --size: 6rem;
    background-color: $white;
    z-index: 8;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: var(--size);
    overflow: visible;
    margin-top: -1px;

    @media #{$mq-md-min} {
        --size: 10rem;
    }

    .side {
        position: absolute;
        z-index: 1;
        bottom: -1px;
        right: 0;
        width: var(--size);
        height: var(--size);

        svg {
            width: 100%;
            height: 100%;
            color: $blue;
        }
    }

    .shape {
        position: absolute;
        overflow: hidden;
        z-index: 0;
        overflow: hidden;
        bottom: 0;
        right: 0;
        display: block;
        width: var(--size);
        height: var(--size);

        svg {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .animated-truck {
        --width: 3rem;
        position: relative;
        z-index: 3;
        display: flex;
        height: 2rem;
        margin-left: calc(var(--size) * -1 + var(--width) * -1 / 2);

        @media #{$mq-md-min} {
            margin-left: calc(var(--size) * -1 + var(--width) * -1 / 2);
        }

        svg {
            width: 3rem;
            height: auto;
            color: $blue;
        }
    }
}

#footer {
    z-index: 0;

    .footer-wrapper {
        background-color: $blue;
        padding-top: 3rem;
        padding-bottom: .1rem;

        @media #{$mq-md-min} {
            padding-bottom: 1.75rem;
        }
        
        @media #{$mq-md-max} {
            display: flex;
            flex-direction: column-reverse;
        }

        .container {
            text-align: center;

            @media #{$mq-md-min} {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                text-align: left;
            }

            .logo {
                display: flex;
                width: 7rem;
                color: $white;
                margin: auto;

                @media #{$mq-md-min} {
                    width: 6rem;
                    margin: 0;
                }

                @media #{$mq-lg-min} {
                    width: 8rem;
                }

                &:hover {
                    color: $black;
                }

                svg {
                    width: 100%;
                    height: auto;
                    transition: .3s ease-in-out;
                }
            }

            .right {
                color: $white;
                --bottom: .5rem;

                @media #{$mq-md-min} {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-end;
                    gap: 2rem;
                }

                @media #{$mq-lg-min} {
                    gap: 3rem;
                }

                .line {
                    display: block;
                    max-width: 100%;
                    width: 20rem;
                    height: 1px;
                    background-color: $white;
                    margin: 2rem auto;

                    @media #{$mq-md-min} {
                        display: none;
                    }
                }

                ul {
                    @media #{$mq-md-max} {
                        margin-bottom: 2rem;
                    }

                    &.last {
                        li {
                            margin-bottom: var(--bottom);

                            @media #{$mq-md-min} {
                                line-height: 1.2;
                                margin-bottom: calc(var(--bottom) * 2);
                            }

                            br {
                                @media #{$mq-md-max} {
                                    display: none;
                                }
                            }
                        }
                    }

                    li {
                        display: block;
                        margin-bottom: calc(var(--bottom) / 4);

                        @media #{$mq-md-min} {
                            margin-bottom: var(--bottom);
                        }

                        a {
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            width: fit-content;

                            @media #{$mq-md-max} {
                                margin: auto;
                            }

                            svg {
                                min-width: 1rem;
                                width: 1rem;
                                height: 1rem;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }

            .bottom {
                width: 100%;
                color: $white;
                --bottom: .5rem;

                @media #{$mq-md-min} {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: 2rem;
                    border-top: 1px solid $white;
                    padding-top: 2rem;
                    margin-top: 1rem;
                }

                @media #{$mq-lg-min} {
                    gap: 3rem;
                }

                h3 {
                    @media #{$mq-md-min} {
                        line-height: 1;
                    }
                    br {
                        @media #{$mq-md-max} {
                            display: none;
                        }
                    }

                    span {
                        @media #{$mq-md-min} {
                            font-size: 80%;
                        }
                    }
                }

                .bottom-wrapper {
                    padding-bottom: 3rem;

                    @media #{$mq-md-min} {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-end;
                        gap: 2rem;
                        padding-bottom: 1rem;
                    }

                    @media #{$mq-lg-min} {
                        gap: 3rem;
                    }

                    p {
                        display: block;

                        @media #{$mq-md-max} {
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}