#truck {
    background-color: $white;
    z-index: 3;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    --size: 6rem;
    height: var(--size);

    @media #{$mq-md-min} {
        --size: 10rem;
    }

    .shape {
        position: absolute;
        z-index: 2;
        overflow: hidden;
        bottom: 0;
        right: 0;
        display: block;
        width: var(--size);
        height: var(--size);
        background-color: transparent;
        clip-path: circle(100% at 0 0);

        &:after {
            content: none;
            position: absolute;
            top: calc(var(--size) * -1);
            left: calc(var(--size) * -1);
            width: calc(var(--size) * 2);
            height: calc(var(--size) * 2);
            border-radius: 50%;
            background-color: $white;
        }
    }

    .animated-truck {
        display: flex;
        height: 2rem;
        margin-left: -4rem;

        svg {
            width: auto;
            height: 100%;
            color: $blue;
        }
    }
}

#footer {
    z-index: 0;

    .footer-wrapper {
        background-color: $blue;
        padding-top: 3rem;
        padding-bottom: .1rem;

        @media #{$mq-md-min} {
            padding-bottom: 1.75rem;
        }

        .container {
            text-align: center;

            @media #{$mq-md-min} {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                text-align: left;
            }

            .logo {
                display: flex;
                width: 7rem;
                color: $white;
                transition: .3s ease-in-out;
                margin: auto;

                @media #{$mq-md-min} {
                    width: 6rem;
                    margin: 0;
                }

                @media #{$mq-lg-min} {
                    width: 8rem;
                }

                &:hover {
                    color: $black;
                }

                svg {
                    width: 100%;
                    height: auto;
                }
            }

            .right {
                color: $white;
                --bottom: .5rem;

                @media #{$mq-md-min} {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-end;
                    gap: 2rem;
                }

                @media #{$mq-lg-min} {
                    gap: 3rem;
                }

                .line {
                    display: block;
                    max-width: 100%;
                    width: 20rem;
                    height: 1px;
                    background-color: $white;
                    margin: 2rem auto;

                    @media #{$mq-md-min} {
                        display: none;
                    }
                }

                ul {
                    @media #{$mq-md-max} {
                        margin-bottom: 2rem;
                    }

                    &.last {
                        li {
                            margin-bottom: var(--bottom);

                            @media #{$mq-md-min} {
                                line-height: 1.2;
                                margin-bottom: calc(var(--bottom) * 2);
                            }

                            br {
                                @media #{$mq-md-max} {
                                    display: none;
                                }
                            }
                        }
                    }

                    li {
                        display: block;
                        margin-bottom: calc(var(--bottom) / 4);

                        @media #{$mq-md-min} {
                            margin-bottom: var(--bottom);
                        }
                    }
                }
            }
        }
    }
}