.logos-grid {
    overflow: visible;
    z-index: 6;

    h3 {
        display: block;
        margin: 0 auto clamp(1.5rem, 3vw, 2.5rem) auto;
        text-align: center;
    }

    .grid {
        display: grid;
        gap: .5rem;
        grid-template-columns: repeat(2, 1fr);

        @media #{$mq-xs-min} {
            grid-template-columns: repeat(3, 1fr);
        }

        @media #{$mq-md-min} {
            grid-template-columns: repeat(4, 1fr);
        }

        @media #{$mq-xl-min} {
            grid-template-columns: repeat(6, 1fr);
        }
    }
}