#team {
    .team-slider {
        @media #{$mq-md-min} {
            cursor: grab;
        }

        &.is-dragging {
            @media #{$mq-md-min} {
                cursor: grabbing;
            }

            .wrapper {
                @media #{$mq-md-min} {
                    transform: scale(.9);
                }
            }
        }

        .swiper-slide {
            /*
            max-width: calc(100% - .75rem);
            @media #{$mq-xs-min} { max-width: 95%; }
            @media #{$mq-md-min} { max-width: 90%; }
            @media #{$mq-2xl-min} { max-width: calc(100vw - 8rem) }
            */
            height: auto!important;
            width: 55%;

            @media #{$mq-sm-min} {
                width: calc(50% - 1vw);
            }

            @media #{$mq-2xl-min} {
                width: calc(50vw - 4rem - 30px);
            }

            /*
            &:first-child {
                width: 100%;

                @media #{$mq-2xl-min} {
                    width: calc(100vw - 8rem - 30px);
                }
            }
            */
        }

        .double {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;
            gap: 10px;

            @media #{$mq-sm-min} {
                gap: 2vw;
            }
        }

        .wrapper {
            width: 100%;
            height: 100%;
            position: relative;

            @media #{$mq-md-min} {
                transition: transform .3s ease-in-out;
            }

            .bg {
                position: absolute;
                z-index: 0;
                overflow: hidden;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-top-left-radius: clamp(1rem, 5vw, 6rem);

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    background: linear-gradient(0deg, $black 0%, transparentize($black, 1) 100%);
                    width: 100%;
                    height: 50%;
                    opacity: .25;
                }

                img {
                    object-position: center top;
                }
            }

            .top {
                position: relative;
                z-index: 2;
                padding: clamp(1rem, 4vw, 5rem) 0 0 clamp(1rem, 4vw, 5rem);
            }

            .bottom {
                position: relative;
                z-index: 2;
                padding: 45vh clamp(1rem, 4vw, 5rem) clamp(1rem, 4vw, 5rem) clamp(1rem, 4vw, 5rem);
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                gap: 1rem;

                .left {
                    h2 {
                        display: block;
                        width: 3rem;
                        line-height: 1;
                        margin-bottom: 1rem;
                    }

                    .position-social {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: .5rem;

                        p {
                            text-transform: uppercase;
                        }

                        .social {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            gap: .5rem;

                            a {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: $blue;
                                width: 1.25rem;
                                min-width: 1.25rem;
                                height: 1.25rem;
                                padding: .25rem;
                                border-top-left-radius: .25rem;
                                border-bottom-right-radius: .25rem;
                                transition: .3s ease-in-out;

                                &:hover {
                                    background-color: $white;
                                    color: $blue;
                                }

                                svg {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }

                .infos {
                    @media #{$mq-lg-max} {
                        display: none;
                    }

                    li {
                        display: block;
                        text-align: right;
                        margin-top: .75rem;

                        p {
                            display: inline-block;
                            padding: .375rem 1.275rem;
                            border-radius: 2rem;
                            border: 1px solid $white;
                        }
                    }
                }
            }
        }
    }
}