#weagle-cast {
    .flex {
        justify-content: space-between;
        align-items: center;
        padding-bottom: clamp(2rem, 4vw, 3rem);

        a {
            color: $blue;
        }
    }

    .weagle-cast-slider {
        @media #{$mq-md-min} {
            cursor: grab;
        }

        &.is-dragging {
            @media #{$mq-md-min} {
                cursor: grabbing;
            }

            .weagle-cast-item {
                @media #{$mq-md-min} {
                    transform: scale(.85);
                }
            }
        }

        .weagle-cast-item {
            @media #{$mq-md-min} {
                transition: .6s ease-in-out;
            }
        }
    }
}