#main-content {
    &.blog {
        background-color: $blue;

        #banner {
            padding-top: calc(4.275rem + 5vh);
            overflow: visible;
            background-color: transparent;

            @media #{$mq-sm-min} {
                padding-top: calc(3.75rem + 10vh);
            }

            @media #{$mq-lg-max} {
                text-align: center;
            }

            h1 {
                position: relative;
                z-index: 1;
                display: block;
                text-transform: uppercase;
                margin: 0 auto;
                text-align: center;
            }

            .texts {
                position: relative;
                z-index: 1;
                margin: 1rem auto 0 auto;
                width: 25rem;
                max-width: 95%;

                @media #{$mq-lg-min} {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    gap: 11rem;
                }

                @media #{$mq-lg-min} {
                    width: 42vw;
                }

                p {
                    @media #{$mq-lg-max} {
                        display: inline;
                    }

                    &:first-child {
                        @media #{$mq-lg-min} {
                            text-align: left;
                        }
                    }

                    &:last-child {
                        @media #{$mq-lg-min} {
                            text-align: right;
                        }

                        @media #{$mq-2xl-min} {
                            padding-left: 2rem;
                        }
                    }
                }
            }

            img {
                position: relative;
                z-index: 2;
                pointer-events: none;
                margin: 1.5rem auto -4rem auto;
                display: block;
                width: 20rem;
                max-width: 50vw;

                @media #{$mq-sm-min} {
                    margin-bottom: -5rem;
                    
                }

                @media #{$mq-lg-min} {
                    margin: -4rem auto -6rem auto;
                }

                @media #{$mq-xl-min} {
                    transform: translateX(-.25rem);
                }
            }
        }

        #middle {
            z-index: 4;
            overflow: visible;

            .bg {
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 15vw;
                background-color: $white;

                &:before {
                    content: '';
                    position: absolute;
                    z-index: 2;
                    top: -1px;
                    right: 0;
                    width: 12vw;
                    height: 2px;
                    background-color: $blue;
                }

                svg {
                    position: absolute;
                    top: 0;
                    right: -1px;
                    width: auto;
                    height: 100%;
                    color: $blue;
                }
            }
        }

        .bottom-section {
            padding-top: clamp(1rem, 3vw, 2rem);
            padding-bottom: clamp(2rem, 5vw, 4rem);
        }
    }
}