#main-content {
    &.home {
        #banner {
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 30vh;
                background: linear-gradient(180deg, $pure-black 0%, transparentize($pure-black, 1) 100%);
            }

            .side {
                position: absolute;
                z-index: 3;
                bottom: 0;
                right: 0;
                width: 30vw;
                height: 30vw;

                @media #{$mq-sm-min} {
                    width: 25vw;
                    height: 25vw;
                }

                @media #{$mq-md-min} {
                    width: 20vw;
                    height: 20vw;
                }

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            video {
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: .325;
                object-position: 20% 0;

                @media #{$mq-sm-min} {
                    object-position: 10% 0;
                }

                @media #{$mq-lg-min} {
                    object-position: 50% 0;
                }
            }

            .container {
                min-height: 100svh;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 1.5rem;
                padding-top: 6rem;
                padding-bottom: clamp(2rem, 4vw, 3rem);

                h1 {
                    text-transform: uppercase;
                }

                .desc {
                    display: block;
                    width: 23.5rem;
                    max-width: 100%;
                }
            }
        }

        #problems {
            .side {
                position: absolute;
                z-index: 3;
                bottom: 0;
                left: 0;
                width: 10vw;
                height: 10vw;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            .top {
                position: relative;
                margin-bottom: 2rem;
                padding-bottom: 2rem;

                @media #{$mq-lg-min} {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    gap: 2rem;
                    margin-bottom: 4rem;
                }

                h2 {
                    white-space: nowrap;
                    margin-bottom: 1rem;

                    @media #{$mq-lg-min} {
                        margin-bottom: 0;
                    }
                }
                
                .line {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $white;
                }
            }

            .problems-slider {
                clip-path: inset(0 -100% 0 0);
                cursor: grab;

                &.is-dragging {
                    cursor: grabbing;

                    .inner {
                        transform: scale(.85);
                    }
                }

                .inner {
                    transition: .6s ease-in-out;
                    
                    @media #{$mq-sm-min} {
                        padding-right: 2rem;
                    }

                    h3 {
                        display: block;
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        #solutions {
            .container {
                @media #{$mq-md-min} {
                    display: flex;
                    justify-content: space-between;
                    gap: 5vw;
                }

                h2 {
                    white-space: nowrap;
                }
                
                .line {
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $black;
                    margin-top: 2rem;
                    margin-bottom: 2rem;

                    @media #{$mq-md-min} {
                        margin-bottom: 0;
                        margin-top: 1.25rem;
                    }

                    @media #{$mq-xl-min} {
                        margin-top: 1.675rem;
                    }
                }

                p {
                    display: block;

                    @media #{$mq-md-min} {
                        min-width: 45vw;
                    }
                }
            }
        }

        #methodology {
            overflow: visible;

            .top {
                @media #{$mq-md-min} {
                    display: flex;
                    justify-content: space-between;
                    gap: 5vw;
                }

                h2 {
                    white-space: nowrap;
                }
                
                .line {
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $black;
                    margin-top: 2rem;
                    margin-bottom: 2rem;

                    @media #{$mq-md-min} {
                        margin-bottom: 0;
                        margin-top: 1.25rem;
                    }

                    @media #{$mq-xl-min} {
                        margin-top: 1.675rem;
                    }
                }

                p {
                    display: block;

                    @media #{$mq-md-min} {
                        min-width: 47.5vw;
                    }

                    @media #{$mq-lg-min} {
                        min-width: 45vw;
                    }
                }
            }

            .big-text {
                position: relative;
                z-index: 0;

                .follow-mouse-object {
                    position: absolute;
                    z-index: 10;
                    top: 0;
                    left: 0;
                    width: fit-content;
                    height: fit-content;
                    pointer-events: none;
                    z-index: 3;
                    overflow: hidden;
                    transform-origin: 250% 250%;
                    transform: scale(0);
                    display: none;

                    @media #{$mq-md-min} {
                        display: block;
                    }
                }

                a {
                    text-transform: uppercase;
                    font-size: 18.5vw;
                    text-align: left;
                    color: $pure-white;
                    white-space: nowrap;

                    .fill-title {
                        display: block;
                        margin-top: -3vw;

                        > * {
                            background: linear-gradient(
                                to right,
                                $blue 50%,
                                $pure-white 50%
                            );
                            background-size: 200% 100%;
	                        background-position-x: 100%;
                            background-clip: text;
	                        -webkit-background-clip: text;
                        }
                    }
                }
            }

            .accordion {
                position: relative;
                z-index: 2;
            }
        }

        #ship {
            z-index: 0;
            background-color: $black;

            video {
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: .5;

                @media #{$mq-md-min} {
                    opacity: .75;
                }
            }

            .container {
                display: flex;
                gap: 14vw;
                height: 70svh;
                text-transform: uppercase;

                @media #{$mq-xs-min} {
                    gap: 10vw;
                }

                @media #{$mq-md-min} {
                    height: 100svh;
                    gap: 5vw;
                }
            }
        }

        #barriers {
            z-index: 2;
            overflow: visible;
            background-color: transparent;
            --size: 20vw;
            margin-top: calc(var(--size) * -1);

            @media #{$mq-md-min} {
                --size: 10vw;
            }

            .top {
                display: flex;
                width: 100%;
                height: var(--size);

                .bg-white {
                    min-width: calc(100vw - var(--size));
                    height: 100%;
                }

                .rounded-border-top-right {
                    position: relative;
                    overflow: hidden;
                    display: block;
                    min-width: var(--size);
                    height: var(--size);

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 200%;
                        height: 200%;
                        border-radius: 50%;
                        background-color: $white;
                    }
                }
            }

            .container {
                margin-top: -30vw;

                @media #{$mq-md-min} {
                    margin-top: -1rem;
                }

                .left {
                    @media #{$mq-md-min} {
                        display: flex;
                        flex-direction: column-reverse;
                        justify-content: flex-end;
                    }

                    h2 {
                        display: block;
                        margin-top: -1.5rem;
                        margin-bottom: 2rem;

                        @media #{$mq-xs-min} {
                            margin-top: -2.5rem;
                        }

                        @media #{$mq-md-min} {
                            margin-top: 0;
                            margin-bottom: 3rem;
                        }

                        @media #{$mq-xl-min} {
                            margin-bottom: 1rem;
                        }
                    }
                }

                ul {
                    @media #{$mq-lg-min} {
                        margin-top: .25rem;
                    }

                    @media #{$mq-xl-min} {
                        margin-top: .75rem;
                    }

                    li {
                        display: flex;
                        align-items: flex-start;
                        gap: .5rem;
                        margin-bottom: .75rem;

                        @media #{$mq-sm-min} {
                            margin-bottom: 1rem;
                        }

                        @media #{$mq-lg-min} {
                            margin-bottom: 1.5rem;
                        }

                        b {
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
}